<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uxlyapps.quaranmindmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.hm.mindmap.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hm.mindmap.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.hm.mindmap.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hm.mindmap.BranchDetailsActivity"
            android:configChanges="orientation"
            android:label="Branch Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.SplashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.hm.mindmap.ParentActivity" >
        </activity>
        <activity
            android:name="com.hm.mindmap.SurahActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_surah"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.Intro"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hm.mindmap.MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutAppActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about_app"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutTeamActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about_team"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.hm.mindmap.AdvancedWebView" >
        </activity>
        <activity
            android:name="com.hm.mindmap.HowToUseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_how_to_use"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.MindMapActivity"
            android:label="@string/title_activity_mind_map" >
        </activity>
        <activity
            android:name="PopupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.hm.mindmap.PBMsg" />
        <activity android:name="com.hm.mindmap.PBListener" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="PB_PACKAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hm.mindmap.MsgReceiver" />

        <service android:name="com.hm.mindmap.GCMIntentService" />
        <service android:name="org.openudid.OpenUDID_service" >
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />

                <inten>
                </inten>
            </intent-filter>
        </service>
    </application>

</manifest>