<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.mindmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.hm.mindmap.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hm.mindmap.BranchDetailsActivity"
            android:configChanges="orientation"
            android:label="Branch Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.SplashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.hm.mindmap.ParentActivity" >
        </activity>
        <activity
            android:name="com.hm.mindmap.SurahActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_surah"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.Intro"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutAppActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about_app"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutTeamActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about_team"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.hm.mindmap.AdvancedWebView" >
        </activity>
        <activity
            android:name="com.hm.mindmap.HowToUseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_how_to_use"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hm.mindmap.MindMapActivity"
            android:label="@string/title_activity_mind_map" >
        </activity>
        <activity
            android:name="PopupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>