<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.mindmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.hm.mindmap.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hm.mindmap.BranchDetailsActivity"
            android:label="Branch Details" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.hm.mindmap.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hm.mindmap.ParentActivity" >
        </activity>
        <activity
            android:name="com.hm.mindmap.SurahActivity"
            android:label="@string/title_activity_surah" >
        </activity>
        <activity android:name="com.hm.mindmap.Intro" >
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity
            android:name="com.hm.mindmap.AboutTeamActivity"
            android:label="@string/title_activity_about_team" >
        </activity>
    </application>

</manifest>